.container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.Top-container {
  width: 100%;
  height: 600px;
  display: flex;
  opacity: 1;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-size: cover;
  background-image: url("/playground_assets/ideas-1500w.jpg"),url("/playground_assets/business-1500w.jpg");
  background-repeat: 0% 40%,top lefttop;
  background-position: top lefttop,0% 40%;
}
.Header {
  width: 100%;
  display: flex;
  opacity: 1;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-700);
}
.navlink {
  display: contents;
}
.Logo {
  color: #f7f3f3;
  width: 438px;
  height: 35px;
  text-decoration: none;
}
.container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.Nav {
  width: 100%;
  height: 74px;
  display: flex;
}
.Links-container {
  width: 405px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Text {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-doubleunit);
}
.text01 {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-doubleunit);
}
.text02 {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-doubleunit);
}
.text03 {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-doubleunit);
}
.BtnGroup {
  width: 228px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.link {
  display: contents;
}
.component {
  text-decoration: none;
}
.link01 {
  display: contents;
}
.component01 {
  text-decoration: none;
}
.BurgerMenu {
  display: none;
}
.icon {
  width: 16px;
  height: 16px;
}
.MobileMenu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.Nav01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.image {
  height: 2rem;
}
.MenuClose {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon02 {
  width: 16px;
  height: 16px;
}
.icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.icon08 {
  width: 16px;
  height: 16px;
}
.Hero-Page {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.Content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text04 {
  color: var(--dl-color-gray-white);
}
.Subheading {
  color: var(--dl-color-gray-white);
}
.text05 {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.link02 {
  display: contents;
}
.component02 {
  text-decoration: none;
}
.Main {
  width: 100%;
  height: 1684px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
}
.Text09 {
  color: var(--dl-color-gray-500);
}
.Cards-container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.Footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.Menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.link03 {
  display: contents;
}
.Logo1 {
  text-decoration: none;
}
.Links-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.container3 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.Link07 {
  text-decoration: none;
}
.container4 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link11 {
  text-decoration: none;
}
.Follow-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.text10 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.Icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.link12 {
  display: contents;
}
.icon10 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.link13 {
  display: contents;
}
.icon12 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.link14 {
  display: contents;
}
.icon14 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.Header1 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
}
.image01 {
  height: 2rem;
}
.Separator {
  width: 100%;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: var(--dl-color-gray-900);
}
.AccordionHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.icon16 {
  width: 16px;
  height: 16px;
  display: none;
}
.AccordionContent {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.Nav03 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Header2 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.image02 {
  height: 2rem;
}
.Nav04 {
  display: flex;
}
.BtnGroup1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Login {
  border-width: 0px;
  margin-right: 32px;
}
.BurgerMenu1 {
  display: none;
}
.icon18 {
  width: 16px;
  height: 16px;
}
.MobileMenu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.Nav05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Container5 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.image03 {
  height: 2rem;
}
.MenuClose1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon20 {
  width: 16px;
  height: 16px;
}
.icon22 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.icon24 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.icon26 {
  width: 16px;
  height: 16px;
}
.Header3 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.image04 {
  height: 2rem;
}
.Nav06 {
  display: flex;
}
.BtnGroup2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Login1 {
  border-width: 0px;
  margin-right: 32px;
}
.BurgerMenu2 {
  display: none;
}
.icon28 {
  width: 16px;
  height: 16px;
}
.MobileMenu2 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.Nav07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Container6 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.image05 {
  height: 2rem;
}
.MenuClose2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon30 {
  width: 16px;
  height: 16px;
}
.icon32 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.icon34 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.icon36 {
  width: 16px;
  height: 16px;
}
.Header4 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.image06 {
  height: 2rem;
}
.Nav08 {
  display: flex;
}
.BtnGroup3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Login2 {
  border-width: 0px;
  margin-right: 32px;
}
.BurgerMenu3 {
  display: none;
}
.icon38 {
  width: 16px;
  height: 16px;
}
.MobileMenu3 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.Nav09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Container7 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.image07 {
  height: 2rem;
}
.MenuClose3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon40 {
  width: 16px;
  height: 16px;
}
.icon42 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.icon44 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.icon46 {
  width: 16px;
  height: 16px;
}
.Header5 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.image08 {
  height: 2rem;
}
.Nav10 {
  display: flex;
}
.BtnGroup4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Login3 {
  border-width: 0px;
  margin-right: 32px;
}
.BurgerMenu4 {
  display: none;
}
.icon48 {
  width: 16px;
  height: 16px;
}
.MobileMenu4 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.Nav11 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Container8 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.image09 {
  height: 2rem;
}
.MenuClose4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon50 {
  width: 16px;
  height: 16px;
}
.icon52 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.icon54 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.icon56 {
  width: 16px;
  height: 16px;
}
.Header6 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
}
.image10 {
  height: 2rem;
}
.Separator1 {
  width: 100%;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: var(--dl-color-gray-900);
}
.AccordionHeader1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.icon58 {
  width: 16px;
  height: 16px;
  display: none;
}
.AccordionContent1 {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.Nav13 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media(max-width: 991px) {
  .Hero-Page {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .Cards-container {
    justify-content: center;
  }
  .Nav03 {
    padding-top: 16px;
  }
  .Nav13 {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .Header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .Nav {
    display: none;
  }
  .BtnGroup {
    display: none;
  }
  .BurgerMenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Hero-Page {
    justify-content: center;
  }
  .Content-container {
    align-items: center;
  }
  .text04 {
    font-size: 2.5rem;
  }
  .text05 {
    text-align: center;
  }
  .Main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .Menu {
    flex-direction: column;
  }
  .Links-container1 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .container3 {
    margin-left: 0px;
  }
  .Header1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .Separator {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .Nav02 {
    display: none;
  }
  .icon16 {
    display: flex;
  }
  .Header2 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .Nav04 {
    display: none;
  }
  .BtnGroup1 {
    display: none;
  }
  .BurgerMenu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Header3 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .Nav06 {
    display: none;
  }
  .BtnGroup2 {
    display: none;
  }
  .BurgerMenu2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Header4 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .Nav08 {
    display: none;
  }
  .BtnGroup3 {
    display: none;
  }
  .BurgerMenu3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Header5 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .Nav10 {
    display: none;
  }
  .BtnGroup4 {
    display: none;
  }
  .BurgerMenu4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Header6 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .Separator1 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .Nav12 {
    display: none;
  }
  .icon58 {
    display: flex;
  }
}
@media(max-width: 479px) {
  .Header {
    padding: var(--dl-space-space-unit);
  }
  .MobileMenu {
    padding: 16px;
  }
  .text04 {
    font-size: 2rem;
    text-align: center;
  }
  .Subheading {
    font-size: 1.3rem;
    text-align: center;
  }
  .Links-container1 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .link04 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .link05 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .link06 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .Link07 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .container4 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .link08 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .link09 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .link10 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .link11 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .Follow-container {
    margin-left: 0px;
  }
  .Header1 {
    padding: var(--dl-space-space-unit);
  }
  .Separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .Header2 {
    padding: var(--dl-space-space-unit);
  }
  .MobileMenu1 {
    padding: 16px;
  }
  .Header3 {
    padding: var(--dl-space-space-unit);
  }
  .MobileMenu2 {
    padding: 16px;
  }
  .Header4 {
    padding: var(--dl-space-space-unit);
  }
  .MobileMenu3 {
    padding: 16px;
  }
  .Header5 {
    padding: var(--dl-space-space-unit);
  }
  .MobileMenu4 {
    padding: 16px;
  }
  .Header6 {
    padding: var(--dl-space-space-unit);
  }
  .Separator1 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
